<a href="https://colab.research.google.com/github/SabhyaGrover/Data-Science-UCS655/blob/main/AI_app_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1 - Python Basics

**Q1.** Split this string
s = "Hi there Class!"
into a list.

In [ ]:
s = "Hi there Class!"
print(s.split())

['Hi', 'there', 'Class!']

**Q2.** Given the variables
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [ ]:
x = "The diameter of {planet} is {diameter} kilometers."
print(x.format(planet = "Earth",diameter = 12742))

The diameter of Earth is 12742 kilometers.

**Q3.** Given this nested list, use indexing to grab the word "hello"

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

**Q4.** Given this nested dictionary grab the word "hello".

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

**Q5.** Create a function that grabs the email website domain from a string in the form:
user@domain.com

In [ ]:
import re
emailStr = "sgrover_be18@thapar.edu"
print(re.findall('@(\w+)',emailStr))
# Using regex :
# ( capturing group for extraction )
# \w stands for word character [A-Za-z0-9_]
# + is a quantifier for one or more occurances of \w

['thapar']

**Q6.** Create a basic function that returns True if the word 'dog' is contained in the input string.

In [ ]:
st = input("Enter a string:")

def present(s):
  if(re.match('dog',s)):
    # Returns True if re.match() returns an Object
    return True
  else:
    # Returns False if re.match() returns None
    return False

present(st)

Enter a string:doggo

True

**Q7.** Create a function that counts the number of times the word "dog" occurs in a string.

In [ ]:
st = input("Enter a string:")
def countFreq(s):
  # re.findall() returns a list of all occurences of the pattern
  return len(re.findall('dog',st))

print("dog comes {f} times".format(f = countFreq(st)))

Enter a string:doggo dog
dog comes 2 times

**Q8.** Use lambda expressions and the filter() function to filter out words from a list that don't start with the
letter 's'.

For example: seq = ['soup','dog','salad','cat','great']

In [ ]:
seq = ['soup','dog','salad','cat','great']

# Filter function for getting words starting with 's'
def filterS(word):
  if(word[0] == 's'):
    return True
  else:
    return False

# Lambda funtion for getting words not starting with 's'
notStartingWithS = [ x for x in seq if x[0] != 's']
startingWithS = filter(filterS,seq)
print(list(startingWithS))
print(notStartingWithS)

['soup', 'salad']
['dog', 'cat', 'great']

**Q9.** You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is
"No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or mor
e, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters
of the function) -- on your birthday, your speed can be 5 higher in all cases.

caught_speeding(81,True)
caught_speeding(81,False)

In [ ]:
def caught_speeding(speed,bday):
  if(bday):
    s=5
  else:
    s=0
  if (speed <= 60+s):
    return "No Challan"
  elif (speed>60+s) and (speed <81+s):
    return "Small Challan"
  else:
    return "Heavy Challan"

print(caught_speeding(81,False)) # Not a Bday
print(caught_speeding(81,True))  # It is a Bday

Heavy Challan
Small Challan

**Q10.** Concatenate two lists index-wise

list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]

Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [ ]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
for i in range(len(list1)):
  list1[i]+=list2[i]

print(list1)

['My', 'name', 'is', 'Shelly']

**Q11.** Concatenate two lists in the following order

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "] 
list2 = ["Dear", "Sir"]
con = []
for a in list1:
  for b in list2:
    con.append(a+b) 

print(con)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Q12.** Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

**Q13.** Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [x for x in list1 if x != 20]
print(list1)

[5, 15, 25, 50]

**Q14.** Check if a value 200 exists in a dictionary

d1 = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
val = 200

def checkVal(dict,val):
  if val in dict.values():
    return True
  else:
    return False
  
print(checkVal(d1,val))

True

**Q15.** Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [ ]:
n = 4
l = []
sum = 0
for i in range(0,n):
  s = ""
  for x in range(0,i+1):
    s+= "2"
  sum += int(s)
  l.append(s)

print(l)
print(sum)

['2', '22', '222', '2222']
2468



---