<a href="https://colab.research.google.com/github/SabhyaGrover/Data-Science-UCS655/blob/main/AI_app_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 2 - Pandas**

In [ ]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [ ]:
#changing the working directory
%cd /content/gdrive/My Drive/Kaggle
#Check the present working directory using pwd command
%pwd

/content/gdrive/My Drive/Kaggle

'/content/gdrive/My Drive/Kaggle'

In [ ]:
!kaggle datasets download -d kaggle/sf-salaries
!ls

Downloading sf-salaries.zip to /content/gdrive/My Drive/Kaggle
 78% 9.00M/11.5M [00:00<00:00, 18.1MB/s]
100% 11.5M/11.5M [00:00<00:00, 21.3MB/s]
AWCustomers.csv  AWTest-Classification.csv  kaggle.json
AWSales.csv	 AWTest-Regression.csv	    sf-salaries.zip

In [ ]:
!unzip \*.zip  && rm *.zip

Archive:  sf-salaries.zip
  inflating: Salaries.csv
  inflating: database.sqlite

**Task 1:** Read Salaries.csv as a dataframe called sal.

In [ ]:
import pandas as pd
# Reading Data from CSV files
sal = pd.read_csv('Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Task 2:** Check the head of the DataFrame.

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency Status
0   1     NATHANIEL FORD  ...  San Francisco    NaN
1   2       GARY JIMENEZ  ...  San Francisco    NaN
2   3     ALBERT PARDINI  ...  San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4   5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

**Task 3:** Use the .info() method to find out how many entries there are.

In [ ]:
sal.info()
# There are 148654 entries with 13 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**Task 4:** What is the average BasePay ?

In [ ]:
# Converting to numeric datatype and filling NaN values with 0
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce').fillna(0)
# Get Mean of the Numeric Data
print(sal.loc[:,['BasePay']].mean())

BasePay    66053.729288
dtype: float64

**Task 5:** What is the highest amount of OvertimePay in the dataset?

In [ ]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce').fillna(0)
print(sal.loc[:,['OvertimePay']].max())

OvertimePay    245131.88
dtype: float64

**Task 6:** What is the job title of JOSEPH DRISCOLL? 

Note: Use all caps, there is also a lowercase Joseph
Driscoll.

In [ ]:
print(sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL",["JobTitle"]])

                     JobTitle
24  CAPTAIN, FIRE SUPPRESSION

**Task 7:** How much does JOSEPH DRISCOLL make (including benefits)?

In [ ]:
print(sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL",["TotalPayBenefits"]])

    TotalPayBenefits
24         270324.91

**Task 8:** What is the name of highest paid person (including benefits)?

In [ ]:
print(sal.loc[sal['TotalPayBenefits'] == sal["TotalPayBenefits"].max(),["EmployeeName","TotalPayBenefits"]])

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

**Task 9:** What is the name of lowest paid person (including benefits)?

In [ ]:
print(sal.loc[sal['TotalPayBenefits'] == sal["TotalPayBenefits"].min(),["EmployeeName","TotalPayBenefits"]])

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

**Task 10:** What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [ ]:
print(sal.loc[:,['Year','BasePay']].groupby(['Year']).mean())

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  68509.832156
2014  66557.437750

**Task 11:** How many unique job titles are there?

In [ ]:
jobTit = sal.loc[:,['JobTitle']].drop_duplicates()
print(jobTitles.count())

JobTitle    2159
dtype: int64

**Task 12:** What are the top 5 most common jobs?

In [ ]:
print(sal['JobTitle'].value_counts().head())

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Task 13:** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one
occurence in 2013?)

In [ ]:
# Get the total no of Job Titles in 2013 
df = sal[sal['Year'] == 2013].groupby(['JobTitle']).count()
# Put only those job titles who were handled by only one person
df = df[df['Id'] == 1]
# Print the no of rows 
print(df.shape[0])

202

**Task 14:** How many people have the word Chief in their job title?

In [ ]:
import re
import numpy as np

# This function will first compile the pattern into a regular
# expression object, then we can use the .fullmatch(val)
# method to test the val's value against our pattern. 
# In order to apply this test to each element in our x 
# vector we will use numpy's vectorize(func) function to 
# create a vector equivalent for our operation of regex 
# matching. Finally we apply this vectorized function to
# our x input vector. 

def like(x,pattern):
  r = re.compile(pattern)
  vlike = np.vectorize(lambda val: bool(r.fullmatch(val)))
  return vlike(x)

dfDop = jobTit.loc[like(jobTit,".*Chief.*")].drop_duplicates()
print(dfDop.count())

JobTitle    29
dtype: int64

**Task 15:** Is there a correlation between length of the Job Title string and Salary?

In [ ]:
strlen = sal["JobTitle"].str.len()
print(strlen.corr(sal['TotalPay']))
# As coefficient is near to 0, therefore there is No Correlation

-0.01535622669909459



---